<h1>新規登録</h1>

<%= form_tag("/signup") do %>
  <div>ログインID</div>
  <input name="email">
  
  <div>パスワード<div>
  <input name="password">
  
  <input type="submit" value="新規登録">
<% end %>


<h1>会員一覧</h1>
<% @users.each do |user|%>
  <%= user.email %>
  <%= user.password %>
<% end %>