<h1>新規登録</h1>

<%= form_tag("/signup") do %>
  <div>ユーザー名 (公開)</div>
  <input name="name">

  <div>ログインID (非公開)</div>
  <input name="email">
  
  <div>パスワード (非公開)<div>
  <input name="password">
  
  <input type="submit" value="新規登録">
<% end %>