<h1>トップ</h1>

<% @posts.each do |post| %>
  <%= image_tag("/user_images/#{post.user.image}", size: "50x50")%>
  <%= post.user&.name || "NoName" %><br>
  <%= post.text %>
  <%= button_to "削除","/post_delete/#{post.id}", method: :delete %><br><br>
<% end %>