body {
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  padding: 0;
  background: #b9ffb9;
}
li {
  list-style: none;
  margin-right: 20px;
}
h1 {
  background: #94faff;
}

form {
  display: inline;
}