body {
  padding: 10px;
  margin: 0;
}
ul {
  display: flex;
  padding: 0;
  background: #b9ffb9;
}
li {
  list-style: none;
  margin-right: 20px;
}
h1 {
  margin: 0;
  padding: 0;
  background: #a7ecff;
}
a {
  /* text-decoration: none; */
  color: black;
}
form {
  display: inline;
}
.image {
  width: 35px;
  height: 35px;
}


.image_box {
  display: flex;
  align-items: center;
}
.image_box > a {
  font-weight: 700;
} 
.title_box {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background: #a7ecff;
  padding-right: 20px;
}